{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% block content %}



        <!-- App container starts -->
        <div class="app-container">

          <!-- App hero header starts -->
          <div class="app-hero-header d-flex align-items-center">

            <!-- Breadcrumb starts -->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
                <a href="index.html">Home</a>
              </li>
              
              <li class="breadcrumb-item text-primary" aria-current="page">
                Add Payment
              </li>
            </ol>
            <!-- Breadcrumb ends -->

            <!-- Sales stats starts -->
            <div class="ms-auto d-lg-flex d-none flex-row">
              <div class="d-flex flex-row gap-1 day-sorting">
                <button class="btn btn-sm btn-primary">Today</button>
                <button class="btn btn-sm">7d</button>
                <button class="btn btn-sm">2w</button>
                <button class="btn btn-sm">1m</button>
                <button class="btn btn-sm">3m</button>
                <button class="btn btn-sm">6m</button>
                <button class="btn btn-sm">1y</button>
              </div>
            </div>
            <!-- Sales stats ends -->

          </div>
          <!-- App Hero header ends -->

     
      <div class="row gx-3">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <div class="card-body">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" >
                  ADD PAYMENT
                </button>
                
<!-- Modal HTML structure -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" >ADD PAYMENT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <!-- Modal Body -->
      <div class="modal-body">
        
    <form method="POST">
      {% csrf_token %}
      {{form|crispy}}
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary">
        <button type="reset" class="btn btn-primary">reset</button>
     
      </div>

  </form>
  {% if message%}
  {{message}}
  {% endif%}




      
      </div>
      

     
      
    </div>
  </div>
</div>
                  
    

    <table class="table table-striped">
      <br></br>
      <thead>
        <tr>
          <th scope="col" class="bg-primary text-white font-weight-bold ">Id</th>
          <th scope="col" class="bg-primary text-white font-weight-bold "> payment_date</th>
          <th scope="col" class="bg-primary text-white font-weight-bold "> treatment</th>
          <th scope="col" class="bg-primary text-white font-weight-bold "> patient</th>
          <th scope="col" class="bg-primary text-white font-weight-bold ">amount_paid </th>
          <th scope="col" class="bg-primary text-white font-weight-bold ">received_by </th>
          <th scope="col" class="bg-primary text-white font-weight-bold "> payment_method </th>
          <th scope="col" class="bg-primary text-white font-weight-bold "> action </th>
         
          
        </tr>
      </thead>
      <tbody>
        {% for payment in payments%}
          <tr>
            <th scope="row">{{payment.id}}</th>
            <td>{{payment.payment_date}}</td>
            <td>{{payment.treatment}}</td>
            <td>{{payment.patient}}</td>
            <td>{{payment.amount_paid}}</td>
            <td>{{payment.received_by}}</td>
            <td>{{payment.payment_method }}</td>
           
        
           
            
            <td>
              <a href="{% url 'edit_payment_page' payment.id %}"class="btn btn-sm btn-warning" ><i class="ri-edit-box-line" ></i></a> |
              <a href="{% url 'delete_payment_page' payment.id %}"
              onclick= "return confirm('Are you sure  you want to delete payment for {{payment.patient}}?')"class="btn btn-sm btn-danger">
              <i class="ri-delete-bin-line"></i></a>
            </td>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content%}